{{ template "header" . }}
{{ template "admin_header" . }}

<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header"><h4>待授权列表</h4></div>
					<div class="card-toolbar clearfix">
						<div class="btn-block" >
							<label>待授权用户：{{.UnAuthorUserTotal}}</label>
							<label>今日上线：{{.NewUserToday}}</label>
						</div>
						<form class="pull-right search-bar" method="GET" action="/admin/authors">
							<div class="input-group">
								<div class="input-group-btn">
									<input class="form-control" style="width: 225px;" type="text" name="keywords" value="{{ .Keywords }}" placeholder="请输入名称">
									<button class="btn btn-default" type="button" onclick="submitFormGET(this)">搜索</button>
								</div>
							</div>
						</form>

						<div class="toolbar-btn-action">
							<form class="pull-left" method="GET" action="/admin/authors" id="recCounts">
									<label>每页</label>
									<select class="btn btn-sm btn-default dropdown-toggle" style="height: 25px;" id="sel" name="recCounts" onchange="submitFormCounts();">			
										<option value="10" {{ if eq .RecCounts 10 }}selected="selected"{{ end }}>10</option>
										<option value="20" {{ if eq .RecCounts 20 }}selected="selected"{{ end }}>20</option>
										<option value="50" {{ if eq .RecCounts 50 }}selected="selected"{{ end }}>50</option>
										<option value="100" {{ if eq .RecCounts 100 }}selected="selected"{{ end }}>100</option>
									</select><label>&nbsp;条</label>
							</form>
							<form class="pull-left" method="GET" id="jumpto">
								<input type="text" name="jumpto" style="border-width: 0px;text-align: right;" size=2 value="{{ .Page }}">/{{ .PageCount }}页
								<button class="btn btn-xs btn-default" type="button" onclick="submitFormGET(this)">跳转</button>
							</form>
						</div>
					</div>
					<form id="userForm" method="POST" action="/admin/authors">
						<div class="tab-content">
							<div class="tab-pane active">
								<div class="form-group">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
											<tr>
												<th class="w-1">
												<label class="lyear-checkbox checkbox-primary">
													<input type="checkbox" onclick="checkboxall(this)">
													<span></span>
												</label>
												</th>
												<th class="w-5"><a href="?order=name" class="loaduser">账号</a></th>
												<th class="w-15"><a href="?order=deviceid" class="loaduser">设备ID</a></th>
												<th class="w-10"><a href="?order=model" class="loaduser">型号</a></th>
												<th class="w-10"><a href="?order=ip" class="loaduser">IP</a></th>
												<th class="w-15"><a href="?order=region" class="loaduser">地区</a></th>
												<th class="w-15"><a href="?order=exp" class="loaduser">到期时间</a></th>
												<th class="w-10"><a href="?order=status" class="loaduser">状态</a></th>
												<th class="w-15"><a href="?order=lasttime" class="loaduser">最后登陆</a></th>
											</tr>
											</thead>
											<tbody id="tableBody">
											{{ if gt (len .Users) 0 }}
												{{ range .Users }}
												<tr>
													<td>
														<label class="lyear-checkbox checkbox-primary">
															<input type="checkbox" name="ids[]" value="{{ .Name }}">
															<span></span>
														</label>
													</td>
													<td>{{ .Name }}</td>
													<td>{{ .DeviceID }}</td>
													<td>{{ .Model }}</td>
													<td>{{ .IP }}</td>
													<td>{{ .Region }}</td>
													<td>{{ .ExpDesc }}</td>
													<td>{{ .ExpDays }}</td>
													<td>{{ .LastTimeStr }}</td>
												</tr>
												{{ end }}
											{{ else }}
												<tr>
													<td align='center' colspan='13' style="color:red;">对不起，当前未有已授权的用户数据</td>
												</tr>
											{{ end }}
											</tbody>
											<tfoot>
												<tr>
													<td colspan="11">
														<div class="form-inline pull-left">
															<select class="btn btn-sm btn-default dropdown-toggle" style="width: 115px;height: 30px;" name="meal">
															{{ if gt (len .Meals) 0 }}
																{{ range .Meals }}
																	<option value="{{ .ID }}" {{if eq .ID 1000 }}selected{{end}}>{{.Name}}</option>
																{{ end }}
															{{ else }}
																	<option value="1000" selected>默认/测试套餐</option>

															{{ end }}
															</select>
															<input type="number" class="form-control" name="author_days" placeholder="授权天数" style="width: 100px; display: inline-block; margin-left: 10px;" min="1" max="3650">
															<button class="btn btn-sm btn-primary m-r-5" type="button" onclick="submitFormPOST(this)" name="submitauthor">授权</button>
															<button class="btn btn-sm btn-primary m-r-5" type="button" onclick="submitFormPOST(this)" name="submitauthorforever">永久授权</button>
															<button class="btn btn-sm btn-primary m-r-5" type="button" onclick="submitFormPOST(this)" name="submitforbidden">禁止试用</button>
															<button class="btn btn-sm btn-primary m-r-5" type="button" onclick="confirmAndSubmit(this,'确定删除选中用户吗？')" name="submitdel">删除记录</button>
															<button class="btn btn-sm btn-primary m-r-5" type="button" onclick="confirmAndSubmit(this,'确认清空一天前待授权信息？')" name="submitdelonedaybefor">清空一天前记录</button>
															<button class="btn btn-sm btn-primary" type="button" onclick="confirmAndSubmit(this,'确认删除所有待授权信息？')" name="submitdelall">清空所有记录</button>
														</div>
														
													</td>
												</tr>
											</tfoot>
										</table>
										<nav> 
											<ul class="pager"> {{ $prev := .Page }} {{ if gt .Page 1 }} {{ $prev = Sub .Page 1 }} {{ else }} {{ $prev = 1 }} {{ end }} 
												<li><a href="?page={{ $prev }}&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">上一页</a></li> 
												<li class="previous"><a href="?page=1&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">首页</a></li> 
												<li class="next"><a href="?page={{ .PageCount }}&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">尾页</a></li> {{ $next := .Page }} {{ if lt .Page .PageCount }} {{ $next = Add .Page 1 }} {{ else }} {{ $next = .Page }} {{ end }} 
												<li><a href="?page={{ $next }}&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">下一页</a></li> </ul> 
										</nav>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>

{{ template "admin_footer" . }}