{{ template "header" . }}
{{ template "admin_header" . }}
    <main class="lyear-layout-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header"><h4>已授权客户端列表</h4></div>
						<div class="card-toolbar clearfix">
							<div class="btn-block" >
								<label>客户端总数：{{ .UserTotal }}</label>
								<label>今日上线：{{ .UserToday }}</label>
							</div>
							<form class="pull-right search-bar" method="GET" action="/admin/users">
								<div class="input-group">
									<div class="input-group-btn">
										<input class="form-control" style="width: 225px;" type="text" name="keywords" value="{{ .Keywords }}" placeholder="请输入名称">
										<button class="btn btn-default" type="button" onclick="submitFormGET(this)">搜索</button>
									</div>
								</div>
							</form>
	                		<div class="toolbar-btn-action">
								<form class="pull-left" method="GET" action="/admin/users">
										<label>每页</label>
										<select class="btn btn-sm btn-default dropdown-toggle" id="sel" name="recCounts" onchange="submitFormCounts();">
											<option value="10" {{ if eq .RecCounts 10 }}selected="selected"{{ end }}>10</option>
											<option value="20" {{ if eq .RecCounts 20 }}selected="selected"{{ end }}>20</option>
											<option value="50" {{ if eq .RecCounts 50 }}selected="selected"{{ end }}>50</option>
											<option value="100" {{ if eq .RecCounts 100 }}selected="selected"{{ end }}>100</option>
										</select><label>&nbsp;条</label>
								</form>
								<form class="pull-left" method="GET" id="jumpto" action="/admin/users">
									<input type="text" name="jumpto" style="border-width: 0px;text-align: right;" size=2 value="{{ .Page }}">/{{ .PageCount }}页
									<button class="btn btn-xs btn-default" type="button" onclick="submitFormGET(this)">跳转</button>
								</form>
							</div>
						</div>
						<form id="userForm" method="POST" action="/admin/users">
							<div class="tab-content">
								<div class="tab-pane active">
									<div class="form-group">
										<div class="table-responsive">
											<table class="table table-hover">
												<thead>
													<tr>
														<th class="w-1">
															<label class="lyear-checkbox checkbox-primary">
																<input type="checkbox" onclick="checkboxall(this)">
																<span></span>
															</label>
														</th>
														<th class="w-5"><a href="?order=name" class="loaduser">账号</a></th>
														<th class="w-10"><a href="?order=meal" class="loaduser">套餐</a></th>
														<th class="w-15"><a href="?order=deviceid" class="loaduser">设备ID</a></th>
														<th class="w-10"><a href="?order=model" class="loaduser">型号</a></th>
														<th class="w-10"><a href="?order=ip" class="loaduser">IP</a></th>
														<th class="w-10"><a href="?order=region" class="loaduser">地区</a></th>
														<th class="w-15"><a href="?order=lasttime" class="loaduser">最后登陆</a></th>
														<th class="w-15"><a href="?order=exp" class="loaduser">到期时间</a></th>
														<th class="w-5"><a href="?order=status" class="loaduser">状态</a></th>
														<th class="w-10"><a href="?order=author" class="loaduser">授权人</a></th>
														<th class="w-10"><a href="?order=marks" class="loaduser">备注</a></th>
													</tr>
												</thead>
												<tbody>
													{{ if gt (len .Users) 0 }}
														{{ range .Users }}
														<tr>
															<td>
																<label class="lyear-checkbox checkbox-primary">
																	<input type="checkbox" name="ids[]" value="{{ .Name }}">
																	<span></span>
																</label>
															</td>
															<td>{{ .Name }}</td>
															<td>{{ .MealName }}</td>
															<td>{{ .DeviceID }}</td>
															<td>{{ .Model }}</td>
															<td>{{ .IP }}</td>
															<td>{{ .Region }}</td>
															<td>{{ .LastTimeStr }}</td>
															<td>{{ .ExpDesc }}</td>
															<td>{{ .ExpDays }}</td>
															<td>{{ .Author }}</td>
															<td>{{ .Marks }}</td>
														</tr>
														{{ end }}
													{{ else }}
														<tr>
															<td align='center' colspan='13' style="color:red;">对不起，当前未有已授权的客户端数据</td>
														</tr>
													{{ end }}
												</tbody>
											</table>

											<select class="btn btn-sm btn-default dropdown-toggle" style="width: 115px;height: 30px;" name="s_meals">
												<option value="">请选择套餐</option>
												{{ range .Meals }}
												<option value="{{ .ID }}">{{ .Name }}</option>
												{{ end }}
											</select>
											<!-- 操作按钮 -->
											<button class="btn btn-sm btn-primary m-r-10" type="button" name="e_meals" onclick="submitFormPOST(this)">修改套餐</button>
											<input class="btn btn-default" style="width: 200px;height: 30px;" type="text" name="marks" size="3" placeholder="请输入备注">
											<button class="btn btn-sm btn-primary m-r-10" type="button" name="submitmodifymarks" onclick="submitFormPOST(this)">修改备注</button>
											<input type="number" class="form-control" name="extend_days" placeholder="延期天数" style="width: 100px; display: inline-block; margin-left: 10px;" min="1" max="3650">
											<button class="btn btn-sm btn-primary m-r-10" type="button" name="submitextend" onclick="submitFormPOST(this)">延期</button>
											<button class="btn btn-sm btn-primary m-r-10" type="button" name="submitforbidden" onclick="submitFormPOST(this)">取消授权</button>
											<button class="btn btn-sm btn-primary m-r-10" type="button" name="submitdel" onclick="confirmAndSubmit(this,'确定删除选中客户端吗？')">删除选中客户端</button>
										</div>
										<nav> 
											<ul class="pager">
											{{ $prev := .Page }} {{ if gt .Page 1 }} {{ $prev = Sub .Page 1 }} {{ else }} {{ $prev = 1 }} {{ end }} 
												<li><a href="?page={{ $prev }}&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">上一页</a></li> 
											{{ $next := .Page }} {{ if lt .Page .PageCount }} {{ $next = Add .Page 1 }} {{ else }} {{ $next = .Page }} {{ end }} 
												<li><a href="?page={{ $next }}&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">下一页</a></li>

												<li class="previous"><a href="?page=1&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">&larr;首页</a></li> 
												<li class="next"><a href="?page={{ .PageCount }}&order={{ .Order }}&keywords={{ .Keywords }}" class="loaduser">尾页&rarr;</a></li>
											</ul> 
										</nav>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </main>
{{ template "admin_footer" . }}